<html>
    <body>
    <h1><%= node[:message]%></h1>
    <h2>HOSTNAME: <%= node[:hostname] %></h2>
    <h2>IPADDRESS: <%= node[:ipaddress] %></h2>
    <img src="mj.png">
    <h3>Just checking notification as well as subscrivbe</h3>
    </body>
</html>
